%button {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.button--social {
  display: block;
  @extend %button;
  line-height: 1.5em;
  width: 1em;
  height: 1.5em;
  width: 1.5em;
  font-size: $text-delta;
  color: $color-canvas;
  background-color: $color-faint;
  border-radius: 0.75em;
}

.button--complex {
  @extend %button;
  line-height: 1em;
  background-color: $color-accent;
  background-clip: padding-box;
  color: $color-black;
  font-size: $text-delta;
  width: 50px;
  height: 50px;
  padding: 0.3em;
  border-radius: 25px;
  border: 7px solid rgba($color-black, .3);
  margin-top: -25px;
  background-clip: padding-box;
  background-origin: border-box;
  background-image:
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 9px,
      darken($color-accent, 5) 10px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 9px,
      darken($color-accent, 5) 10px
    );
}
