.canvas { ///////////// Remove it!
  width: 35%;
  // background-color: yellow;
}

.sample {
  position: relative;
}

.sample__category {
  font-size: $text-zeta;
  margin-top: 0.2em;
}

.sample__picture {
  background-color: white;
  padding-top: 80%;
  box-shadow: 0px 0px 10px $color-basic;
}

.sample__zoom {
  position: absolute;
  right: 10px;
}
