.l-root {
  height: 100%;
  background-image: url("../images/grill.png");
}





////// Navigation section //////

.l-navbar {
  background-color: $color-canvas;
  box-shadow: 0px 0px 10px $color-faint;
  height: 80px;
  margin-top: 80px;
}

.l-navbar__container {
  max-width: 1024px;
  height: 80px;
  margin: 0 auto;
}

.l-navbar__links {
  padding-top: 18px;
  margin-left: 120px;
}

.l-navbar__logo {
  float: left;
  display: block;
  margin-top: -20px;
  margin-left: -20px;
  width: 120px;
  height: 120px;
  border: 8px solid rgba($color-basic, .3);
  border-radius: 60px;
  background-clip: padding-box;
  background-origin: border-box;
  background-color: $color-accent;
  background-image:
    url("../images/logo.svg"),
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 9px,
      darken($color-accent, 5) 10px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 9px,
      darken($color-accent, 5) 10px
    );
  background-repeat: no-repeat, repeat, repeat;
  background-size: 85px, auto, auto;
}

.l-buttons {
  float: right;
  margin-top: 0.7em;
}

  /* Medias */

@media screen and (max-width: 1100px) {
  .l-navbar {
    // margin-top: 170px;
    padding-top: 1px;
    margin-top: 0;
    height: auto;
    background-color: transparent;
  }

  .l-navbar__container {
    height: auto;
    max-width: 1100px;
  }

  .l-navbar__links {
    margin: 0 auto;
    background-image: linear-gradient(to top, white, transparent);
  }

  .l-navbar__logo {
    float: none;
    margin: 0 auto;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    background-size: 55px, auto, auto;
  }

  .l-buttons {
    margin: 0;
    float: none;
    text-align: center;
  }
}






////// Showcase section //////

.l-prescont {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 3em;
  padding-bottom: 7em;
}

.l-prescont__container {
  padding: 0 1em;
}






////// Information section //////

.l-info {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 6em;
  border-bottom: 1px solid $color-basic;
}

.l-info__column {
  width: 28%;
  float: left;

  &:nth-child(1n+2) {
    margin-left: 8%;
  }

}

  /* Medias */

@media screen and (max-width: 1024px) {
  .l-info {
    margin: 0 1em;
  }
}

@media screen and (max-width: 940px) {
  .l-info__column {
    width: 30.666%;

    &:nth-child(1n+2) {
      margin-left: 4%;
    }
  }
}

@media screen and (max-width: 800px) {
  .l-info__column {
    margin: 0 auto;
    float: none;
    width: 75%;

    &:nth-child(n+2) {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 399px) {
  .l-info__column {
    width: 100%;
  }
}



////// Footer section //////

.l-tail {
  max-width: 1024px;
  text-align: right;
  margin: 0 auto;
  padding: 1em 1em 5em;
}
