.header--prima {
  font-size: 3.2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
  color: $color-basic;
  line-height: 1.3;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
}

p {
  font-size: $text-zeta;
  color: $color-strong;
}

strong {
  color: $color-accent;
  font-weight: normal;
}

.header--info {
  display: block;
  min-width: 100%;
  background-color: $color-canvas;
  box-shadow: $boxshadow-string;
  text-align: center;
  font-weight: normal;
  padding: 1em 0;
  margin-bottom: 1.5em;
}

  /* Medias */

@media screen and (max-width: 640px) {
  .header--prima {
    font-size: $text-gamma;
  }
}

@media screen and (max-width: 450px) {
  .header--prima {
    font-size: $text-delta;
  }
}
